body {
  border-radius: 10px;
  font-family: 'Audiowide', cursive;
  width: 98%;
  height: 100%;
  margin: 0;
}

#main_page {
  text-align: center;
}

table {
  width: 100%;
  height: 100%;
}
#table_map{
  height: 630px;  
}

td, tr {
  border: 1px solid #333;
  border-radius: 5px;
  /*height: 22.5px;*/
  width: 10px;
}

select, button {
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-family: 'Audiowide', cursive;
}

#ipserver {
  font-size: 17px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Audiowide', cursive;
}

#guid_change {
  font-size: 17px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Audiowide', cursive;
  width: 32.5%;
}

#button_ip {
  font-size: 17px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Audiowide', cursive;
}

#button_guid {
  font-size: 17px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Audiowide', cursive;
}

#div_strat {
  height:600px;
  overflow-y:scroll; 
  overflow-x:hidden;
}

#progress_bar_font, #progress_bar_font_shield {
  background-color: rgb(35,35,35);
  border-radius: 5px;
  text-align: center;
  height: 100%;
}

#progress_bar, #progress_bar_shield {
  height: 65%;
  padding-top: 22px;
  /*background-color: red;*/
  border-radius: 5px;
  white-space: nowrap;
}

#point {
  font-size: 50px;
  height: 60px;
}

#wait, #bot_ready {
  margin-top: 21.5%;
  font-weight: 700;
  font-size: 50px;
}

#page {
  width: 100%;
  height: 100%;
}

#Entete {
  width: 100%;
  height: 10%;
  text-align: center;
}

#ath_haut {
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 100%;
  height: 25%;
}

#strat_title {
  float: left;
  width: 30%;
  height: 100%;
  margin-top: 0.25%;
  margin-right: 0.25%;
  margin-left: 0.5%;
}

#map {
  float: right;
  width: 68%;
  margin-top: 0.5%;
  margin-right: 0.25%;
  margin-left: 0.25%;
  height: 60%;
  border-color: black;
}

#Sore_Tour {
  width: 16%;
  margin-left: 1%
}

#Score_Tour_tab {
  border-radius: 5px;
  width: 15%;
  margin-left: 1%;
}

#Tour_Title, #Time_Title {
  height: 20%;
  width: 2.5%;
  border: 0px;
  text-align: left;
}

#Tour, #Time {
  border: 0px;
}

#Score_Title {
  height: 20%;
  width: 7.5%;
  border: 0px;
  text-align: center;
}

#Score {
  border: 0px;
}

#Etat_Bot {
  margin-top: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
}

#Etat_tab {
  width: 100%;
  border-radius: 5px;
}

#invisibility_tittle {
  width: 5%;
  border: 0px;
  text-align: center;
  margin: 5px;
}

#invisibility {
  /*background-color: #B2BFBF;*/
  white-space: nowrap;
  width: 5%;
  height: 45px;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #B2BFBF;
  text-align: center;
}

#Shield_Title {
  width: 5%;
  border: 0px;
  text-align: center;
}

#shield {
  height: 62px;
  width: 30%;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #86E0E1;
}

#Energy_Title {
  width: 5%;
  border: 0px;
  text-align: center;
  margin: 5px;
}

#Energie {
  height: 62px;
  width: 40%;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #EDEF37;
}

#Gun_Title {
  width: 5%;
  border: 0px;
  text-align: center;
  margin: 5px;
}

#Gun {
  height: 62px;
  width: 5%;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #EDEF37;
}

.legende {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 55%;
  margin-right:15%;
  height: 15%;
}

#icone_table {
  margin-top: 10px;
  border-radius: 5px;
}

#icone_mur {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
}

#icone_energie {
  background-color: yellow;
  width: 30px;
  border-radius: 5px;
  border: 0px;
}

#icone_enemie {
  background-color: purple;
  width: 30px;
  border-radius: 5px;
  border: 0px;
}

#icone_ia {
  background-color: red;
  width: 30px;
  border-radius: 5px;
  border: 0px;
}

#icone_texte {
  width: 50px;
  text-align: center;
  border: 0px;
}

#wrapper {
  padding-top: 10px;
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 4px;
  border-radius: 40px;
}

.toggle:before, .toggle:after {
  content: '';
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figureAlt {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc, 54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc, 44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-switch-figureAlt:after {
  content: '';
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}

.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: rgb(35,35,35);
}

#setting {
  float: right;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  padding:5px;
}

#setting:hover{
  background-color: white;
  color: rgb(35,35,35);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  opacity: 0.9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

