body {
  font-family: 'Audiowide', cursive;
  margin: 5px;
  overflow: hidden;
}

body, html{
  width: 99.5%;
  height: 99%;
}

#main_page{
  height: 100%;
  width: 100%;
}

#info_game{
  float: left;
  width: 20%;
  white-space: nowrap;
  height: 100%;
}
#info_player{
  height: 84%;
  margin: 5px;
  position:absolute;
  bottom:0;
  width: 20%;
}

#info_party{
  float: left;
  margin: 5px;
  width: 100%;
  
}

#bar{
  height: 80%;
}

#name_bar{
  float: left;
  margin: 5px;
  width: 100%;
  text-align: center;
}

#name_bot{
  height: 5%; 
  text-align: center;
}


#Score, #Round, #Time, #Score_info, #Round_info, #Time_info{
  margin-right: 4%;
  margin-left: 4%;
  float: left;
  width: 25%;
  text-align: center;
}

#Energy_bar, #Shield_bar, #Cloak_bar{
  white-space: nowrap;
  border-style: solid;
  border-color: black;
  float: left;
  width: 25%;
  margin: 5px;
  border-radius: 15px;
  height: 97%;
}
#Energy_bar_inside,#Shield_bar_inside,#Cloak_bar_inside{

  bottom: 0;

  background-color: white;

  height: 100%;

  float: unset;
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 100%;
  white-space: nowrap;
}

#text_bar{
  margin-top: 5px;
}

#Energy_bar{
  box-shadow: 1px 1px 35px 1px green;
  background-color: rgba(107,232,14,0.8);
  border-color: black;
  overflow: hidden; /* Empêche le dépassement des flottants. */
}
#Shield_bar{
  box-shadow: 1px 1px 35px 1px red;
  background-color:rgba(227, 12, 58,0.8);
  border-color: black;
  overflow: hidden; /* Empêche le dépassement des flottants. */
}
#Cloak_bar{
  box-shadow: 1px 1px 35px 1px blue;
  background-color: black;
  border-color: black;
  overflow: hidden; /* Empêche le dépassement des flottants. */
}


#Energy, #Shield, #Cloak{
  width: 30%;
  float: left;
  margin-right: 3%;
  
}
#game {
  float: right;
  width: 80%;
  height: 100%;
}

#map{
  float: left;
  height: 90%;
  width: 100%;
  border-radius: 15px;
  -webkit-perspective: 100px; /* Safari 4-8  */
  perspective: 100px;

}

#table_map{
  box-shadow: 1px 1px 35px 1px black;
  border: solid #333;
  border-radius: 5px;
  height: 90%;
  width: 76%;
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
  -webkit-transform: rotateX(4deg); /* Safari 3-8  */
  transform-style: preserve-3d;
  transform: rotateX(4deg);
  margin-left: 11%;
}

td, tr {
  border: solid 2px #333;
  border-radius: 5px;
  box-shadow:2px 2px 2px gray,
  -1px -1px 2px gray;
}

.sidenav {
  color: white;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  opacity: 0.9;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  white-space: nowrap;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

#setting:hover{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(160deg);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

#party{
  height: 100%;
}

#wait_text{
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
  margin-bottom: 0px;
}

#Settings{
  height: 5%;
}

#ipserver {
  font-size: 17px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Audiowide', cursive;
}
#guid_change {
  font-size: 17px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Audiowide', cursive;
  width: 32.5%;
}

#button_ip {
  font-size: 17px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Audiowide', cursive;
}

#button_guid {
  font-size: 17px;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Audiowide', cursive;
}
#ip_guid{
  text-align: center;
}
#Chrgmt{
  text-align: center;
}

#Energy_text,#wall_text,#bot_text{
  float: left;
  width: 15%;

}

#Energy_Color,#wall_Color,#bot_Color{
  border-style: solid;
  height: 15px;
  border-radius: 15px;
  width: 15%;
  float: left;
}

#Energy_Color{
  background-color: yellow;
}
#wall_Color{
  background-color: white;
}
#bot_Color{
  background-color: red;
}
#legend{
  text-align: center;
  width: 100%;
  margin-top: 77%;
  margin-left: 5%;
}
